
.navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .dropbtn4{
    color: black;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  .dropdown4 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown4 .dropbtn4 {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }
  
  .navbar4 a:hover {
    background-color: rgb(66, 63, 63);
  }
  
  .dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #ecd7eb;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content4 .header {
    background: rgb(109, 86, 86);
    padding: 16px;
    color: rgb(0, 0, 0);
  }
  
  .dropdown4:hover .dropdown-content4 {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column4 {
    float: left;
    width: 100%;
    padding: 10px;
    background-color: #ecd7eb;
    height: fit-content;
  }
  
  .column4 a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .column4 a:hover {
    background-color:#c5a2c3;
  }
  
  /* Clear floats after the columns */
  .row4:after {
    content: "";
    display: table;
    clear: both;
  }
  .row4{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;     
      justify-content: space-around;
      padding-left: 70px;
      padding-top: 40px;
    
  }
  .column4{
      font-size: 23px;
      color: rgb(100, 40, 50);
     
  }