
#navbar3 {
    display: flex;
    width: 100%;
    height: 110px;
    margin: auto;
    margin-top: 0;
    margin-left: 10px;
}

#first {
    width: 100%;
    height: 140px;

    background-color: #0e4a6c;
    /* border-top: 1px solid black; */
    padding: 20px;
}

#second {
    width: 180px;
    height: 140px;
    background-color: #03a3ad;
}

#thirdone {
    width: 160px;
    height: 70px;
    background-color: #71e4e2;
}

#thirdsecond {
    width: 160px;
    height: 70px;
    background-color: #C2F2EF;
}

h1 {
    color: #FFFFFF;
    font-family: "Market Sans Bold", Sans-serif;
    font-size: 36px;
    font-weight: bold;
}
/* ********************************************************************************** */

#parent {
    width: 82%;
    height: 220px;
    background-color: #c3f3f2;
    margin: auto;
    margin-top: 50px;
    padding:5px;
   
  
    
}

.firstselect {
    width: 90%;
    height: 30px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.logo {
    width: 50px;
    height: 30px;
    /* border: 1px solid blue; */
    font-size: 20px;
    background-color: white;
    text-align: center;
    color: grey;
    
    
}

.selecttag {
    width: 100%;
    height: 30px;
    /* border: 1px solid black; */
}

.category {
    width: 100%;
    height: 30px;
    color: gray;

}
.lebel{
    width: 100%;
    height: 30px;
    color: gray;
}

.year {
    height: 30px;
}

.endselect {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    justify-content: space-between;
    
    
}

.fpart {
    display: flex;
    margin-left: 57px;
    
}

.spart {
    display: flex;
    margin-right: 60px;
}

.tpart {
    display: flex;
    margin-left:-55px;
    
    
    
}
.month{
    height: 30px;
    width: 150px;
    color: gray;
}
.year{
    color: gray;
}
#blueclr{
    background-color: #01718f;
    color: white;
}

#reset{
    background-color: #01718f;
    font-weight: bold;
    width: 90%;
    height: 30px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-left: 60px;
    font-size: 20px;

}
#reset:hover{
    background-color:#033b4b;
}
