  /* ========================================Seller updates====================< */
   .dropbtnseller {

    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
     z-index: 3;
  }
  #su{
    margin-top:-18px;
  }

  
  /* Dropdown Content (Hidden by Default) */
  .dropdownseller-contents {
    display: none;
    position: relative;
    background-color:  #C2F2EF;
    padding:20px;
    /* margin:auto; */
    margin-bottom:10px;
    /* margin-left:465px; */
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdownseller-contents a {
    color: black;
    padding: 12px 50px;
    text-decoration: none;
    
  }
  
  /* Change color of dropdown links on hover */
  .dropdownseller-contents a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover  */
   .dropdownseller:hover .dropdownseller-contents {
    display: flex;
  } 
  #sellerandupdates{
    width:100%;
    /* display:flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; 
    gap:20px;
     justify-content:space-evenly; 
    /* margin-left:0px; */
   
  }
  .btn{
    color:  #680226;
    
  }
  #sellerandupdates p{
    color: #A00739;
    
  }