
#navbar{
  background-color:#FCF2BD;;
}
#marketing{
  width:80%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content:space-around;
  margin:auto;
 
}
h3{
  color: #592E13;
  
}
p{
  color: rgb(170,84,4)
  
}
p:hover{
  color:black;
  cursor: pointer;
}