body{
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
}
/* header main div */
#div1{
    margin: auto;
    display: grid;
    /* grid-template-rows: 4fr 1fr; */
    width:80%;
    height: 100px;
    border: 1px solid rgb(255, 255, 255);
    justify-content: center;
    
}


#navBar{
    /* margin: auto; */
    display: flex;
    width: 1140px;
    height: 100%;
    justify-content: space-between;
    border: 1px solid rgb(255, 255, 255);
    align-items: center;
}
/* image logo div size*/
#ebayLogo{
    border: 1px solid rgb(255, 255, 255);
}
/* image logo size */
#logo{
    height: 62px;
    width:110px;
}

/* Start Selling button */
#startSelling{
    background-color: rgb(61, 101, 235);
    color: white;
    font-weight: 600;
    font-size: 14px;
    width: 140px;
    height: 40px;
    margin-right: 28px;
    border: 1px solid rgb(255, 254, 254);
}
#links{
    display: flex;
    width: 90%;
    /* border: 1px solid black; */
}
/* links dive adjust */
#links>div{
    display: grid;
    width: auto;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    padding-right: 40px;
    padding-top: 2px;
    padding-left: 8px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.option{
    color: black;
}

#div2{
    border: 1px solid rgb(255, 255, 255);
    height: 20px;
}

#div3{
    border: 1px solid black;
    height: 20px;
}

#div4{
    border: 1px solid black;
    height: 20px;
}

#div5{
    border: 1px solid black;
    height: 20px;
}

#div6{
    border: 1px solid black;
    height: 20px;
}

#div7{
    border: 1px solid black;
    height: 20px;
}

#div8{
    border: 1px solid black;
    height: 20px;
}

#div9{
    border: 1px solid black;
    height: 20px;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/*-------------------------------------------------------------------------------DIV-9--------------------------------------------------------------------------------*/
#div9{
    padding-top: 80px;
    border: 1px solid rgb(255, 255, 255);
    height: fit-content;
    font-family: sans-serif;
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    margin: auto;
    
}
/* Footer Part-1 */
#footer-p1{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: space-evenly;
}
/* Footer Part-1 ancor tag adjustment */
#footer-p1 a{
    font-size: 14px;
    text-decoration: none;
    color: #413d3d;
    font-weight: 600;
}
/* Footer Part-2 */
/* Facebook , Instagram and Linkedin href and logo adjustment */
#footer-p2{
    display: flex;
    margin: auto;
    gap: 10px;
}
/* Footer Part-3 */
#footer-p3{
    margin: auto;
    font-size: 12px;
    color: #696666;
}
/* Footer Part-3 links adjustment */
#last{
    text-decoration: none;
    color: rgb(27, 121, 184);
}





/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------------------END of INDEX Page------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------ */













/* ********************************************************** */
body{
    font-family: "Market Sans", Sans-serif;
}
#navbar {
    display: flex;
    width: 95%;
    height: 110px;
    margin: auto;
    margin-top: 25px;
    margin-left: 118px;
}

#first {
    width: 60%;
    height: 140px;

    background-color: #0e4a6c;
    /* border-top: 1px solid black; */
    padding: 20px;
}

#second {
    width: 180px;
    height: 140px;
    background-color: #03a3ad;
}

#thirdone {
    width: 160px;
    height: 70px;
    background-color: #71e4e2;
}

#thirdsecond {
    width: 160px;
    height: 70px;
    background-color: #C2F2EF;
}

h1 {
    color: #FFFFFF;
    font-family: "Market Sans Bold", Sans-serif;
    font-size: 36px;
    font-weight: bold;
}
/* ********************************************************************************** */

#parent {
    width: 82%;
    height: 220px;
    background-color: #c3f3f2;
    margin: auto;
    margin-top: 50px;
    padding:5px;
   
  
    
}

.firstselect {
    width: 90%;
    height: 30px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.logo {
    width: 50px;
    height: 30px;
    /* border: 1px solid blue; */
    font-size: 20px;
    background-color: white;
    text-align: center;
    color: grey;
    
    
}

.selecttag {
    width: 100%;
    height: 30px;
    /* border: 1px solid black; */
}

.category {
    width: 100%;
    height: 30px;
    color: gray;

}
.lebel{
    width: 100%;
    height: 30px;
    color: gray;
}

.year {
    height: 30px;
}

.endselect {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    justify-content: space-between;
    
    
}

.fpart {
    display: flex;
    margin-left: 57px;
    
}

.spart {
    display: flex;
    margin-right: 60px;
}

.tpart {
    display: flex;
    margin-left: 25px;
    
    
    
}
.month{
    height: 30px;
    width: 150px;
    color: gray;
}
.year{
    color: gray;
}
#blueclr{
    background-color: #01718f;
    color: white;
}
button{
    width: 60px;
    color: gray;
    background-color: white;
    
    font-size: 10px;
    
    
    
}
#reset{
    background-color: #01718f;
    font-weight: bold;
    width: 90%;
    height: 30px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-left: 60px;
    font-size: 20px;

}
#reset:hover{
    background-color:#033b4b;
}
